<div class="row justify-content-center">
    <div class="text-muted col-lg-12 ">
        <small>
            <p>
                For more information, please refer to
                Campagner, A., Sternini, F., & Cabitza, F. (2022). Decisions are not all equal—Introducing a utility metric based on case-wise raters’ perceptions. Computer Methods and Programs in Biomedicine, 221, 106930.
            </p>
            <p>
                Tool developed at MUDI Lab by Marco Turra
            </p>
        </small>
    </div>
</div>
