

<div style="padding-top: 40px;">
  <a href="javascript:history.back()" class="btn btn-outline-secondary " style="float:left; z-index: 10; ">
    <img src="../static/icons/backArrow.png" style="width: 24px; height: auto;" alt="Go Back">
  </a>
  <!-- <a href="" class="mt-2" style="z-index: 10; float: right; ">
    <img src="../static/icons/help.png" style="width: 30px; height: auto;" alt="Help">
  </a> -->
  <span class="d-inline-block mt-2 float-right" style="z-index: 10; cursor: help;"
        data-toggle="tooltip" 
        data-html="true"
        title="<div class='text-left'>
                <p><strong>Support:</strong> federico.cabitza@unimib.it</p>
                <p><strong>Documentation:</strong> <br> See reference at the bottom of the page</p>
              </div>">
    <img src="../static/icons/help.png" style="width: 30px; height: auto;" alt="Help">
  </span>
  <div class="row text-center">
    <div class="col">
      <h1>{{ constants.sitetitle }}</h1>
      <p class="text-muted mb-2">
        {{ constants.description }}
      </p>
    </div>
  </div>
  
  <hr class="border border-dark opacity-75" style="margin-bottom: 3rem;">
</div>